__pycache__/
*.pyc
*.log
*.exe
venv/
.vscode/
chick/
monsters/
room/
vans/
*.bin
*.mp4
*.avi
data/samples/**/*.jpg
data/samples/**/*.jpeg
data/samples/**/*.png
results/
outputs/

**/colmap_reconstruction/database.db
**/colmap_reconstruction/dense/stereo/
**/colmap_reconstruction/dense/run-colmap-*.sh
**/colmap_reconstruction/dense/images/
**/colmap_reconstruction/sparse/*/project.ini
**/colmap_reconstruction/images/

!docs/
!docs/**

!data/samples/**/colmap_reconstruction/**/*.ply
